@model paramotor.Models.IndexViewModel
<!--================Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="swiper-container">

			
			<div class="swiper-wrapper">
				@* START SLIDE *@
				@if (Model.Slides!.Count() > 0)
				{
					
					@foreach (var item in Model.Slides!)
					{
						<div class="swiper-slide"><img src="~/uploads/images/@item.Image" alt="">
							<div class="slider_text_inner">
								<div class="container">
									<div class="row">
										<div class="col-lg-7">
											<div class="slider_text">
												<h2>@item.Title</h2>
												<p>@item.Subtitle</p>
												<a class="banner_btn" target="@item.IsTarget" href="@item.Url">@item.Urltext</a>
												@* <a class="banner_btn2" href="#">Get Free Quote</a> *@
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				}
				@* END SLIDE *@
				

			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->